*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

/* ---------------------------HEADER------------------------- */
nav{
    height: 52px;
    background-color: #DD5555;
}

.logo{
    width: 120px;
    height: 28px;
    margin-left: 11%;
    margin-right: 12px;
}

header ul{
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    height: 100%;
    display: flex;
    list-style-type: none;
    align-items: center;
}

header li{
    display: flex;
    align-items: center;
    width: 89px;
    justify-content: center ;
    height: 100%;
    white-space: nowrap;
}

.first-tab:hover,
.second-tab:hover,
.third-tab:hover,
.fourth-tab:hover{
    color: #FFFFFF;
    background:rgba(0, 0, 0, 0.25);
    cursor: pointer;

}

/* -----------------section SUPER APP--------------------- */

.image-principale{
    display: flex;
    flex-direction: column;
    background: url('images-lp/image-ppale.png') no-repeat center;
    background-size: cover;
    color: #FFFFFF;
    height: 658px;
    align-items: center;
    justify-content: center;
}

.image-principale .about-app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    white-space: nowrap;
}

.image-principale h1{
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 48px;
    margin: 0.5em;
    text-transform: uppercase;
}

.image-principale h4{
    font-weight: normal;
    font-family: 'OpenSans', sans-serif;
    font-size: 24px;
    margin: 0.5em;
}
    
.image-principale-ligne{
    border-bottom: 1px solid #FFFFFF; 
    width: 390px;
    height: 20px;
    margin-bottom: 18px;
}

.buttons{
    display: inline-flex;
}

.buttons  > .button-items{
    background-color: #FFFFFF;
    border: 1px solid white;
    display: flex;
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    width: 115px;
    height: 48px;
    justify-content: center;
    align-items: center;
    color: #2E2E2E;
    margin: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.button-items:hover{
    transform: scale(1.1);
}

.button-items > img{
    height: 17px;
    width: 16px;
    position: relative;
    right: 10px;
}

/* ---------------section "trucs super"------------------ */

.trucs-super {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
}

.trucs-super .app-options-container{
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1000px;
}

.trucs-super h2{
    text-transform: uppercase;
    font-family: 'OpenSans-Semibold', sans-serif;
    text-align: center;
    font-size: 36px;
    margin: 1.5em auto;
}

.app-options{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    padding: 1px;
}

.first-row,
.second-row{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.app-option-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    text-align: center;
}

.item {
    background-color: #DD5555;
    width: 120px;
    height: 120px;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-title{
    font-family: 'OpenSans-Semibold', sans-serif;    
    font-size: 28px;
    margin: 0.5em;
}

.item-text{
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    margin-bottom: 1.5em;
    line-height: 1.5;
}

/* --------------section "Super équipe"------------------- */


.team-pic-and-title{
    background-image: url('images-lp/storm-troopers.png');
    height: 330px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-pic-and-title h2{
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
}

.team-container{
    display: flex;
    justify-content: space-between;
    padding: 7% 8%;
}

.team1,
.team2{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 3px;

}
.team-members{
    margin: 10px;

}

.team-members > img{
    border-radius: 121.5px;
}

.contact-member{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-member > h4{
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 28px;
    margin: 0.5em;
}

.contact-button{
    display: flex;
    justify-content: space-around;
    width: 57%;
    background-color: rgb(221, 85, 85);
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    padding: 3%;
    border-radius: 5px;
    cursor: pointer;
}

.contact-button:hover{
    transform: scale(1.1);
}

/* -----------section "formulaire de contact"------------- */

.formulaire-contact{
    height: 500px;
    background-color: #DD5555;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulaire-contact .form-container{
    width: 70%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.formulaire-contact h2{
    font-family: 'OpenSans-Semibold', sans-serif;
    font-size: 36px;
    color:#FFFFFF;
    text-transform: uppercase;
    margin: 1em;
    text-align: center;
}

.contact-form{
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 95%;
}

.form-name-mail{
    display: flex;
    margin-bottom: 10px;
}

.contact-form input{
    border-radius: 2px;
    border: 1px solid #FFFFFF;
    padding: 7px;
}

.contact-form label {
    margin-bottom: 10px;
  }

.form-name,
.form-mail{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-name input{
    margin-right: 10px;
}

textarea{
   display: flex;
   flex-direction: column;
   height: 7em;
   width: 100%;
   margin-bottom: 0.5em;
   font-family: 'OpenSans', sans-serif;
   border: none;
   border-radius: 2px;
   margin-top: 10px;
}
    
.submit-button{
    display: flex;
    justify-content: flex-end;
}

button{
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: none;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    padding: 7px;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
}

/* ------------------MEDIA QUERIES----------------- */


@media screen and (max-width: 600px) {
    .logo{
        margin-left: 5%;
    }
    ul{
        display: flex;
        justify-content: space-around;
    }
}
    
    
@media screen and (max-width: 700px) {
    .buttons{
        display: inline;
    }
    .first-row,
    .second-row{
        flex-direction: column;
        align-items: center;
    }

    .team-container{
        flex-direction: column;
        align-items: center;
    }
    .team1,
    .team2{
        flex-direction: column;
        align-items: center;
    }    

    .team-members{
        margin: 20px;
    }

        /* FORMULAIRE */
        .form-name-mail{
            flex-direction: column;
            align-items: center;
        }
        .form-name,
        .form-mail{
            width: 100%;

        }
        .form-name input{
            margin-bottom: 10px;
        }
        .form-container{
            width: 100%;
        }
        text-area{
            width: 50%;
            align-items: center;
        }
}
      
    
@media screen and (min-width: 701px) and (max-width: 1150px){
    
    /* TRUCS SUPER ET SUPER EQUIPE*/
    .app-options{
        flex-direction: row;
    }
    .first-row,
    .second-row{
        flex-direction: column;
    }

    .team-container{
        flex-direction: column;
        align-items: center;
    }    
    .team-members{
        margin: 20px;
    }
    
} 

